{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'bulma.css' %}">

        <style>
            body {
                background-color: #20232f;
                height:100vh;
            }

            li {
                list-style-type: square;
                list-style-position: inside;
            }
        </style>
        {% block head %}{% endblock %}

    </head>
    <body>
        <br>
        <div class="container">
            {% block body %}
                This is where the body goes.
            {% endblock %}
        </div>
    </body>
</html>
